# # Flask configuration
# SECRET_KEY=-M14uRo5A1OddnUYoOnHnwJwrnL7lb3lPr1UblgjNs8
# FLASK_ENV=development

# # MySQL Database configuration
# MYSQL_HOST=sql12.freesqldatabase.com
# MYSQL_PORT=3306
# MYSQL_USER=sql12781861
# MYSQL_PASSWORD=NzyKrnqGjF
# MYSQL_DATABASE=sql12781861

# # Redis for rate limiting (optional - will use memory if not provided)
# REDIS_URL=memory://
